---
interface Props {
  repo: string;
  repoId: string;
  category: string;
  categoryId: string;
  mapping: string;
  strict?: string;
  reactionsEnabled?: string;
  emitMetadata?: string;
  inputPosition?: string;
  theme?: string;
  lang?: string;
}

const {
  repo,
  repoId,
  category,
  categoryId,
  mapping = "pathname",
  strict = "0",
  reactionsEnabled = "1",
  emitMetadata = "0",
  inputPosition = "bottom",
  theme = "light",
  lang = "zh-CN"
} = Astro.props;
---

<div
  class="giscus"
  data-repo={repo}
  data-repo-id={repoId}
  data-category={category}
  data-category-id={categoryId}
  data-mapping={mapping}
  data-strict={strict}
  data-reactions-enabled={reactionsEnabled}
  data-emit-metadata={emitMetadata}
  data-input-position={inputPosition}
  data-theme={theme}
  data-lang={lang}
>
</div>
<!-- 
<script
  src="https://giscus.app/client.js"
  data-repo={repo}
  data-repo-id={repoId}
  data-category={category}
  data-category-id={categoryId}
  data-mapping={mapping}
  data-strict={strict}
  data-reactions-enabled={reactionsEnabled}
  data-emit-metadata={emitMetadata}
  data-input-position={inputPosition}
  data-theme={theme}
  data-lang={lang}
  crossorigin="anonymous"
  async
></script> 
-->
<script is:inline src="https://giscus.app/client.js"
        data-repo="51nav/hugo-theme-nav-starter"
        data-repo-id="R_kgDONUj9IA"
        data-category="Announcements"
        data-category-id="DIC_kwDONUj9IM4CkpOL"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_dark"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>